h1 {
  text-align: center;
}

.fild {
  background-color: red;
  border-radius: 50px;
}

.dane {
  width: 300px;
}

h2 {
  text-decoration: underline;
}

.srodek {
  display: flex;
  flex-direction: row;
}

.prawa {
  margin-left: 50px;
}

.prawo {
  width: 300px;
}
