h1 {
    text-align: center;
    color: white;
  }
  
  .fild {
    background-color: black;
    border-radius: 50px;
  }
  
  .dane {
    width: 300px;
  }
  
  h2 {
    text-decoration: underline;
  }
  
  .srodek {
    display: flex;
    flex-direction: row;
  }
  
  .prawa {
    margin-left: 50px;
  }
  
  .prawo {
    width: 300px;
  }

body {
    background-color: white;
}

.next {
  margin-top: 68px;
}

.auto {
  border: 3px solid black;
  border-radius: 25px;
}
.leprawa {
  padding: 10px;
}

.koniec {
  padding: 10px;
}

.linia {
  text-decoration: underline;
}
